# PyMySQL
---

db 연결은 모듈별(서비스로 생각하면 메뉴별)로 연결코드를 넣는 것이 일반적이다.

In [139]:
import pymysql

* host 인수값 : db서버의 ip주소나 도메인
    * db 서버가 파이썬 작업 컴퓨터와 동일할 때 : localhost (내 컴퓨터 안에서 시스템(네트워크 상대를 찾을 것))
    * 127.0.0.1 ip 주소 : loop back 주소 (호스트 자신을 가리키는 IP 주소)

## 1. INSERT
### 1) Cursor Object 가져오기

In [140]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

cursor = db.cursor()

### 2) SQL 실행하기

In [141]:
for idx in range(10):
    product_code = 21576740 + idx + 1 # 제품코드는 변수로 생성
    sql = '''
    INSERT INTO product 
        VALUES('''+str(product_code)+''',
        '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
        '''
    #print(sql)
    cursor.execute(sql)

### 3) commit

In [142]:
db.commit()

### 4) close

In [143]:
db.close()

## 2. SELECT
* 데이터 조회(SELECT)
1. Cursor Object 가져오기 
2. SQL 실행하기
3. mysql 서버로부터 데이터 가져오기 : `fetch` 메서드 사용
    * `fetchall()` : Fetch all the rows
    * `fetchmany(size=None)` : Fetch several rows
    * `fetchone()` : Fetch the next row
        : 레코드 한개를 반환 - 현재 커서위치에서 다음 레코드로 내려가서 반환
    
    
### 1) Cursor object 가져오기

In [144]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

cursor = db.cursor()

### 2) SQL 실행

In [145]:
sql = 'SELECT * FROM product'

cursor.execute(sql)

10

* product 테이블의 모든 레코드가 table 형태로 반환된다.
    * 반환되는 시점에 커서는 컬럼명을 point하고 있음.

### 3) mysql 서버로부터 데이터 가져오기

#### 3-1) `fetchone()`
* 커서를 아래 레코드로 이동한 후에 레코드 하나를 반환한다.

In [146]:

result = cursor.fetchone()
print(result)
result = cursor.fetchone()
print(result)

('21576741', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('21576742', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [147]:
result = cursor.fetchall()
print(result)

(('21576743', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576744', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576745', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576746', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576747', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576748', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576749', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('21576750', '스위트바니 여름신상 5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [148]:
result = cursor.fetchmany()
print(result)

()

### 4) close

In [149]:
db.close()

## 3.UPDATE

* 데이터 수정(UPDATE)
    1. Cursor Object 가져오기
    2. SQL 실행하기
    3. mysql 서버에 확정 반영하기

### 1) Cursor object 가져오기

In [150]:
# 접속하기
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

### 2) SQL 실행하기

In [151]:
SQL = '''
UPDATE product
SET title = '달리샵린넨원피스 뷔스티에 썸머 가디건 코디전',
ori_price = 33000,
discount_price = 9900,
discount_percent = 70
WHERE PRODUCT_CODE = '21576741'
'''

ecommerce.execute(SQL)

1

### 3) commit

In [152]:
db.commit()

### 4) close

In [153]:
db.close()

## 4. DELETE
* 데이터 삭제(DELETE)
    * Cursor Object 가져오기
    * SQL 실행하기
    * 실행 mysql 서버에 확정 반영하기
    
    
### 1) Cursor object 가져오기

In [154]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

### 2) SQL 실행하기

In [155]:
SQL = '''
    DELETE FROM product
    WHERE product_code = '21576742'
'''

ecommerce.execute(SQL)

1

### 3) commit

In [156]:
db.commit()

### 4) close

In [157]:
db.close()

## - 연습문제

[웹페이지](http://www.enuri.com/list.jsp?cate=070701)에서 1위 ~ 10위까지 데이터 입력하기  
  
테이블 명 : best  
- id는 자동증가
- name은 코어 이름
- model_num 은 코어 모델 번호
- model_type은 코드명(카비레이크, 스카이레이크)
  
EX. 코어 i7 7700 카비레이크  
name은 i7, model_num은 7700, model_type은 카비레이크

### 1) 테이블 만들기

In [164]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

In [167]:
SQL = '''
CREATE TABLE best(
    id int(10) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(20) NOT NULL,
    model_num varchar(20),
    model_type VARCHAR(50))
'''
ecommerce.execute('DROP TABLE best;')
ecommerce.execute(SQL)

0

In [168]:
db.commit()

In [169]:
db.close()

### 2) 데이터 삽입하기

In [170]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

In [171]:
# SQL = '''
#     INSERT INTO best(name, model_num, model_type) VALUES ('i5', '10400', '코멧레이크S');
# '''

ecommerce.execute(SQL)


# # 아래와 같이 여러 개의 구문을 한번에 실행하는 것은 불가함.(execute())
# SQL = '''
#     INSERT INTO best(name, model_num, model_type) VALUES ('i7', '10700', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i5', '10400F', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i9', '10900K', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i3', '10100', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('인텔셀러론', 'G4900', '커피레이크');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i5', '9400F', '커피레이크');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i3', '10100F', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i7', '10700K', '코멧레이크S');
#     INSERT INTO best(name, model_num, model_type) VALUES ('i7', '10700KF', '코멧레이크S');

# '''


db.commit()

db.close()

* 여러 개의 INSERT 문을 한번에 실행하는 방법
    * `executemany(query, values)`
        * [documenatation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-executemany.html)
        * `query` : sql 문장을 입력 값은 포맷문자를 사용해서 미정으로 처리
        * `values` : query에서 미정된 값을 튜플형태로 구성, 값 튜플이 여러개면 리스트안에 튜플을 나열함.

In [172]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='0000', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

query =  ''' INSERT INTO best(name, model_num, model_type) VALUES (%s, %s, %s); '''

values = [
    ('i7', '10700', '코멧레이크S'),
    ('i5', '10400F', '코멧레이크S'),
    ('i9', '10900K', '코멧레이크S'),
    ('i3', '10100', '코멧레이크S'),
    ('인텔셀러론', 'G4900', '커피레이크'),
    ('i5', '9400F', '커피레이크'),
    ('i3', '10100F', '코멧레이크S'),
    ('i7', '10700K', '코멧레이크S'),
    ('i7', '10700KF', '코멧레이크S')
]

ecommerce.executemany(query, values)

db.commit()

db.close()