# pandas와 PyMySQL
---

## 1. `read_sql()`

* pandas 라이브러리 함수로 접속된 dbms를 통해 sql 결과를 바로 읽어온다.
* [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)


### 0) 필요 라이브러리 import

In [1]:
# 필요 라이브러리 import
import pymysql
import pandas as pd

### 1) db 연결

In [2]:
host_name = '127.0.0.1'
host_port = 3306
username = 'root'
password = '0000'
database_name = '판매'

In [3]:
db = pymysql.connect(
    host = host_name,
    port = host_port,
    user = username,
    passwd = password,
    db=database_name,
    charset='utf8'
)

### 2) `pandas.read_sql()` 사용

* `pandas.read_sql(query, 연결된 db connection 객체)`
    * DBMS에서 반환되는 결과를 데이터프레임으로 반환

#### - TABLE 목록 출력

In [4]:
sql = "SHOW TABLES;" # 해당 db에 존재하는 TABLE 목록을 출력하는 쿼리문

In [5]:
df = pd.read_sql(sql, db)

In [6]:
display(df)
type(df)

  Tables_in_판매
0           고객
1           제품
2           주문

pandas.core.frame.DataFrame

#### - SELECT 문 사용

In [7]:
sql = "SELECT * FROM 고객"

df = pd.read_sql(sql, db)

df

        고객아이디 고객이름    나이      등급    직업   적립금
0       apple  정소화  20.0    gold    학생  1000
1      banana  김선우  25.0     vip   간호사  2500
2      carrot  고명석  28.0    gold    교사  4500
3       melon  성원용  35.0    gold   회사원  5000
4      orange  김용욱  22.0  silver    학생     0
5       peach  오형준   NaN  silver    의사   300
6        pear  채광주  31.0  silver   회사원   500
7  strawberry  최유경  30.0     vip   공무원   100
8      tomato  정은심  36.0    gold  None   100

#### - csv로 내보내기
* `pandas.to_csv()`
    * [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [9]:
df.to_csv('고객.csv', sep=',', index=False, encoding='utf-8')

### 3) close()

In [10]:
db.close()